







body {
  position:relative;
  background: rgb(83, 86, 94)
}


.header{


font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(83, 86, 94);
padding: 15px;
text-align: center;
background: rgb(39, 252, 42)

}
.image{
  margin-top: 30px;
  margin-bottom: 65px;
  margin-right: 150px;
  margin-left: 150px;
 
text-align: center;
}


.btn{
cursor: pointer;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(39, 252, 42);
font-size: 30px;
box-shadow: 10px 10px 5px 0px rgba(33, 33, 33, 0.75);


}



.allbtn{
display: inline-blcok;
text-align: center;
margin-top: 65px;
margin-bottom: 65px;
margin-right: 150px;
margin-left: 150px;

}



.home{background-color: rgb(255, 0, 0);}
.tech{background-color: rgb(0, 17, 255);}
.core{background-color: rgb(144, 0, 255);}
.hello{background-color:rgb(255, 98, 0)}

p{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 15px;
color:rgb(39, 252, 42)


}

p{
margin-top: 65px;
margin-bottom: 65px;
margin-right: 150px;
margin-left: 150px;
}

a{
color:rgb(83, 86, 94);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.footer{

background:rgb(39, 252, 42);
padding: 30px;
text-align: center;


}


.box{
background-color:brown;
width:10px;
height:10px;


}

.click{
color:black;

}




.animated-blog{
  position: absolute;
z-index: 10;

width:100px;
height:100px;

animation-duration: 10s;
animation-name: example;

}

@keyframes example {
0%{width:100px; height:100px; left:0%; top:0%;}

100%{width:300px; height:300px; left:100%; top:100%;}

}



@media all and (max-width: 320px){
  body{
    background:rgba(31, 112, 226, 0.75)
  }

  .header{
    color:rgb(0, 255, 140);
    background:rgb(29, 0, 197)
  }




}


@media all and (max-width: 768px){
  body{
    background:rgba(60, 85, 98, 0.75)
  }

}


@media all and (max-width: 1200px){
  body{
    background:rgba(52, 157, 255, 0.75)
  }

}

