





.image{
  text-align:center;

}



body {
  position:relative;
  background: rgb(0, 39, 147)
}



.header{


font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(83, 86, 94);
padding: 15px;
text-align: center;
background: rgb(39, 252, 42)

}



.btn{
cursor: pointer;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(39, 252, 42);
font-size: 30px;
box-shadow: 10px 10px 5px 0px rgba(33, 33, 33, 0.75);
position: absolute;

}



h3{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(255, 255, 255);
font-size:20px;
text-align:center;


}





.allbtn{
display: inline-blcok;
text-align: left;


}



.home{background-color: rgb(255, 0, 0);}


p{
  text-align: center;

  font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 15px;
color:rgb(39, 252, 42)


}





a{
color:rgb(83, 86, 94);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.footer{

background:rgb(39, 252, 42);
padding: 30px;
text-align: center;


}








